@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Concert One", sans-serif;
}

body {
  background: rgb(255, 40, 40);
  color: #fff !important;
}
