@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Concert One", sans-serif;
}

body {
  background: rgb(226, 46, 46);
  color: #fff !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.modal-content {
  position: absolute;
  inset: 50% auto auto 50%;
  border: none;
  border-radius: 6px;
  background: white;
  overflow: auto;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: #000000b2;
  z-index: 9000;
}
